<div id="contactBackGround" class="hidden-xs">
<!--
    <div class="container">
        <h1>CONTACT US</h1>
        <h3>HOME / CONTACT US</h3>
    </div>
-->
  </div>  
    <div class="container formMessage">
        <div class="col-md-4">
          <p class="anwan">
                شارع مسجد حاتم بجوار ماركت فتح الله سموحة
                <br>
            Alexandria, Egypt
          </p>
          <p class="anwanIcon">
          <i class="fa fa-map-o"></i>
          </p>
          <p class="mwa3iid">
            ALL Days From  <br> 10:00 - 01:00
          </p>

        </div>
        <div class="col-md-4">
        
                <input type="text" class="form-control" placeholder="name" >
                <input type="email" class="form-control" placeholder="email" >
                <input type="text" class="form-control" placeholder="subjct" >
           
        </div>
        <div class="col-md-4">
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message Here" class="form-control textAreaSend"></textarea>
            <button class="btn btn-success pull-right sendMessageBtn">Send</button>
        </div>
    </div>
<div class="map">
   <div class="container-fluid">
       
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3412.290809675024!2d29.950970785206394!3d31.212671581472435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f5c4964ffb5b97%3A0x6203c5ce12e60b14!2z2YXZiNio2Yog2KjYp9ix2YMgXyBNb2JpIFBhcms!5e0!3m2!1sar!2seg!4v1500893813269" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
   </div>
</div>