    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/owl.theme.default.min.css">
    <script src="/javascripts/owl.carousel.min.js"></script>
<div ng-controller="homeCTRL">
    

<!--=================================================== 
                    Slider
=====================================================-->
 <div id="slider">
     <div class="owl-carousel" >
          <div><img src="/images/slide1.PNG" alt=""> </div>
          <div><img src="/images/slide3.jpg" alt=""> </div>         
    </div>
 </div>
 
 
<!--===================================================================     
                        AfterSlider#col
====================================================================-->
 <div class="banner_bottom_agile_info">
	    <div class="container">
            <div class="banner_bottom_agile_info_inner_w3ls">
    	           <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
						<figure class="effect-roxy">
							<img src="/images/bottom1.jpg" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>V</span>irtual Reality </h3>
								<p> Headsets</p>
							</figcaption>			
						</figure>
					</div>
					 <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
						<figure class="effect-roxy">
							<img src="/images/bottom2.jpg" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>S</span>mart Watch</h3>
								<p>New Arrivals</p>
							</figcaption>			
						</figure>
					</div>
					<div class="clearfix"></div>
		    </div> 
		 </div> 
    </div>

<!--=================================================================
                            Products
====================================================================-->
<br>
<br>
<div id="products">
    
	<div class="new_arrivals_agile_w3ls_info"> 
		<div class="container">
        <div class="sns-nav-tabs-warpper-icon"> 
         <i class="fa fa-mobile"></i>
    </div>
<!--		    <h3 class="wthree_text_info">New <span>Arrivals</span></h3>		-->
				<div id="horizontalTab">
					<div class="resp-tabs-container">
					<!--/tab_one-->
						<div class="tab1">
							<div class="col-md-3 product-men"  ng-repeat="pro in pro2 | limitTo:4">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img  ng-src="/{{pro.url.slice(7)}}" alt="" class="pro-image-front">
										<img  ng-src="/{{pro.url.slice(7)}}" class="pro-image-back">
											<div class="men-cart-pro">
<!--
												<div class="inner-men-cart-pro">
													<a ng-href="/productDetails/:{{pro._id}}" class="link-product-add-cart">View More</a>
												</div>
-->
											</div>
											<span class="product-new-top">New</span>
											
									</div>
									<div class="item-info-product ">
										<h4><a ng-href="/productDetails/:{{pro._id}}">{{pro.name}}</a></h4>
										<div class="info-product-price">
											<span class="item_price">$ {{pro.priceAfter}}</span>
											<del>$ {{pro.priceBefore}}</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
															<form action="{{'/productDetails/:' + pro._id}}" >
																<fieldset>
																	<input type="hidden"  value="_cart" />
																	<input type="hidden"  value="1" />
																	<input type="hidden" value=" " />
																	<input type="hidden"  value="Formal Blue Shirt" />
																	<input type="hidden"  value="30.99" />
																	<input type="hidden" value="1.00" />
																	<input type="hidden"  value="USD" />
																	<input type="hidden" value=" " />
																	<input type="hidden" value=" " />
																	<input type="submit"  value="View More" class="button" />
																</fieldset>
															</form>
														</div>
																			
									</div>
								</div>
							</div>
	<div class="col-md-3 product-men"  ng-repeat="pro in pro1 | limitTo:4">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img  ng-src="/{{pro.url.slice(7)}}" alt="" class="pro-image-front">
										<img  ng-src="/{{pro.url.slice(7)}}" class="pro-image-back">
											<div class="men-cart-pro">
<!--
												<div class="inner-men-cart-pro">
													<a ng-href="/productDetails/:{{pro._id}}" class="link-product-add-cart">Quick View</a>
												</div>
-->
											</div>
											<span class="product-new-top">New</span>
											
									</div>
									<div class="item-info-product ">
										<h4><a ng-href="/productDetails/:{{pro._id}}">{{pro.name}}</a></h4>
										<div class="info-product-price">
											<span class="item_price">$ {{pro.priceAfter}}</span>
											<del>$ {{pro.priceBefore}}</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
															<form action="{{'/productDetails/:' + pro._id}}">
																<fieldset>
																	<input type="hidden"  value="_cart" />
																	<input type="hidden" value="1" />
																	<input type="hidden"  value=" " />
																	<input type="hidden"  value="Formal Blue Shirt" />
																	<input type="hidden"  value="30.99" />
																	<input type="hidden"  value="1.00" />
																	<input type="hidden"  value="USD" />
																	<input type="hidden"  value=" " />
																	<input type="hidden" value=" " />
																	<input type="submit"  value="View More" class="button" />
																</fieldset>
															</form>
														</div>
																			
									</div>
								</div>
							</div>

							<div class="clearfix"></div>
						</div>
					
						
					</div>
				</div>	
			</div>
		</div>
		</div>

 
 <br>
 <br>
 <!--=====================================================
                    phoneBlocks
==========================================================-->
<div id="phoneBlocks">
    <div class="container">
        <center>
              <div class="Service col-md-6 col-md-offset-3">


               <div class="title">
                   SERVICE AVALAIBLE 24/7

               </div>
               <div class="fontAwe">
                   <i class="fa fa-check"></i>
               </div>
               <div class="content">
                  We provide a 24 hour, seven day a week emergency service for all our <br> clients.
               </div>
             </div>
             <div class="Service col-md-6 col-md-offset-3">


               <div class="title">
                  WATER DAMAGE


               </div>
               <div class="fontAwe">
                 <i class="fa fa-tint"></i>
               </div>
               <div class="content">
                   As certified water damage restoration experts, we use the most advanced tools and equipment in the industry 
               </div>
             </div>
             <div class="Service col-md-6 col-md-offset-3">


               <div class="title">
                  SPEAKER FAILURE

               </div>
               <div class="fontAwe">
                <i class="glyphicon glyphicon-headphones"></i>
               </div>
               <div class="content">
                   Are you having issues with the speaker on your cell phone? You might need to have it repaired. Problems with your speaker can be a symptom of  broken boards, or other internal issues. 
               </div>
             </div>
               <div class="Service col-md-6 col-md-offset-3">


               <div class="title">
               LCD REPLACEMENT

               </div>
               <div class="fontAwe">
                  <i class="glyphicon glyphicon-phone"></i>
               </div>
               <div class="content">
                   if you have damaged the screen of your mobile phone – perhaps you dropped it or sat down while the device was in your pocket – you’ve immediately given yourself a headache don't giveup with us .
               </div>
             </div>
        </center>
    </div>
</div>
<script>
// Slider
//=======================================================   
    
    $(document).ready(function(){
      $(".owl-carousel").owlCarousel(
        {
 
            // Most important owl features
            items : 1,
            //Autoplay
            autoplay: 2000,
            stopOnHover : false,
            nav: true,
            navText: [
                    "<i class='fa fa-chevron-left'></i>",
                    "<i class='fa fa-chevron-right'></i>"
            ],  
            loop:true

                

            }
      
      );
    });

</script>



</div>                   