
	  <div class=" profile">

		<div class="profile-bottom">
			<h3 class="pull-left"><i class="fa fa-user"></i>Profile</h3>
			<h3 class="pull-right">
			<a href="/editProfile">
			<i class="fa fa-pencil-square-o"></i>    
			</a>
            </h3>
            <br>
            <div class="clearfix"></div>
			<div class="profile-bottom-top">
<!--
			<div class="col-md-4 profile-bottom-img">
				<img src="images/pr.jpg" alt="">
			</div>
-->
			<div class="col-md-8 profile-text">
				<h6></h6>
				<table>
                    <tr>
                        <td>phone</td>
                        <td>:</td>
                        <td> {{userData.phone}} </td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td> :</td>
                        <td>{{userData.email}}</td>
                    </tr>
                     <tr>
                        <td>Username</td>
                        <td> :</td>
                        <td>{{userData.username}}</td>
                    </tr>    
                     <tr>
                        <td>Ponits </td>
                        <td>:</td>
                        <td>{{userData.point}}</td>
                    </tr>
                </table>
			</div>
			<div class="clearfix"></div>
			</div>
			

			 
			
		</div>
	</div>
	
	
	
